# AlgoEdge for algoedge.greatjourns.com
Options -Indexes
PassengerEnabled On
PassengerAppRoot /home/greatjou/algoedge.greatjourns.com
PassengerPython /home/greatjou/virtualenv/algoedge.greatjourns.com/3.12/bin/python
Alias /static/ /home/greatjou/algoedge.greatjourns.com/static_assets/
<Directory /home/greatjou/algoedge.greatjourns.com/static_assets>
    Require all granted
</Directory>
Alias /media/ /home/greatjou/algoedge.greatjourns.com/media/
<Directory /home/greatjou/algoedge.greatjourns.com/media>
    Require all granted
</Directory>
<FilesMatch "\.(py|pyc|sqlite3|env|gitignore|md|txt)$">
    Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteRule ^(algoedge|home|userauth|learn|shop|cservice|articles|dash|copytrade|pfarm|automate|brokerx|refer|alerts|paygate|metrics)/ - [F,L]
</IfModule>
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/json image/svg+xml
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
</IfModule>
